force-app/main/default/flows/Create_Contact_from_Email_to_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>No_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>No Contact Found</label>
        </rules>
    </decisions>
    <description>Automatically creates a Contact when a Case is created via Email-to-Case if the contact email doesn&apos;t exist in Salesforce</description>
    <interviewLabel>Create Contact from Email to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact from Email to Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Case_with_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Contact</name>
        <label>Get Existing Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Contact</name>
        <label>Update Case with Contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_New_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SuppliedEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
